# JWST Data & Outputs
logs/
crds_cache/
*.efc
*.epf
*.yaml
*.fits
*.h5
*.pkl
*.npy
*.txt
*.csv
*.png
*.pdf
!master_run_config.yaml

# Python & OS files
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# IGNORE NESTED BACKEND REPOSITORIES 
sparta/
exoTEDRF/
eureka/