# JWST Data & Outputs
logs/
crds_cache/
*.fits
*.h5
*.pkl
*.npy
*.txt
*.csv
*.png
*.pdf
configs/*.ecf
configs/*.epf
outputs/*
inputs/*

# Python & OS files
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# IGNORE NESTED BACKEND REPOSITORIES 
sparta/
exoTEDRF/
eureka/
